*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    height: 100%;
    width: 100%;
    /* background-color: rgb(190, 231, 238); */
    background-color: rgb(62, 61, 61);
}
.logo{
    height: 170px;
    width: 200px;
}
.container{
    font-family: sans-serif;
    font-size: 1rem;
    font-weight: 600;
    /* color: black; */
    color: white;
   
}
.wrapper{
    width: 380px;
    height: 480px;
    position: relative;
    margin: 6% auto;
    background: white;
    padding: 5px;
    overflow: hidden;
    border: 1px solid white;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: height .2s ease;
    overflow: hidden;
}
.wrapper .formbox{
    width: 100%;
    padding: 40px;
}
.wrapper .formbox.login{
    transition: transform .18s ease;
    transform: translateX(0);
   
}
.wrapper.active .formbox.login{
    transition: none;
    transform: translateX(-400px);
    
}

.wrapper .formbox.register{
    position: absolute;
    transition: none;
    transform: translateX(-400px);
}

.wrapper.active .formbox.register{
    transition: transform .18s ease;
    transform: translateX(0);
}
.wrapper .formbox.register{
    position: absolute;
    transform: translateX(400px);


}
.wrapper.active{
    height: 520px;
}
.formbox h2{
    font-size: 2em;
    color: #162938;
    text-align: center;
}
.input-box{
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid  #162938;
    margin: 30px 0;
}
.input-box label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: #162938;
    font-weight: 500;
    pointer-events: none;
    transition: .5s;
}

.input-box input:focus~label,
.input-box input:valid~label {
    top: -5px;
}


.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: #162938;
    font-weight: 600;
    padding: 0 35px 0 5px;
}
.input-box .icon{
    position: absolute;
    right: 8px;
    font-size: 1.2em;
    color: #162938;
    line-height: 57px;
}
.remember-forgot{
    font-size: .9em;
    color: #162938;
    font-weight: 500;
    margin: -15px 0 15px ;
    display: flex;
    justify-content: space-between;
}
.remember-forgot label input{
    accent-color: #162938;
    margin-right: 3px;
}
.remember-forgot a{
    color: #162938;
    text-decoration: none;
}
.remember-forgot a:hover{
    text-decoration: underline;
}
.btn{
    width: 100%;
    height: 45px;
    background: #4e7cd6;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    color: #fff;
    font-weight: 500;
}
.login-register{
    font-size: .9em;
    color: #162938;
    text-align: center;
    font-weight: 500;
    margin: 25px 0 10px;
}
.login-register p a{
    color: #162938;
    text-decoration: none;
    font-weight: 600;
}
.login-register p a:hover{
    text-decoration: underline;
}

.abt{
    text-align: center;
    color: azure;
    font-family: "Roboto";
    margin-bottom: 20px;
}.desc{
    color: rgb(150, 201, 238);
    font-family:  "Poppins", sans-serif;;
    font-size: 1.1rem;
    line-height: 22px;
    padding: 35px;
    
}
.copyright{
    color:rgb(113, 105, 105) ; 
    margin: 10px 0px;
    margin-left: 75px;

}


.foot_part2{
    background-color: #fff;
    width: 100%;
    height: 150px;
    padding: 0 10px;
}
.foot_part2 h2{
    color: #162938;
    text-align: center;
    padding-top: 5px;
    margin-top: 20px;
}
.social {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 75px;

  }
  
  .social img {
    width: 35px;
    height: 35px;
  }
  .social img:hover{
    transform: scale(1.1);
  }
  
  .social a {
    text-decoration: none;
    margin-right: 20px;
    
  }
  .text_foot ul{
    display: flex;
    justify-content: center;
    gap: 2rem;
  }
  .text_foot ul li{
    color: black;
  }
  .mark{
    margin-left:  10px;
    
  }